// website specific SCSS

.page-content {
    font-family: "Georgia", "Liberation Serif", "Noto Serif", serif !important;
    color: #201e1f;
    background-color: #f1f7f7;
 }

h1, h2, h3, h4 {
    font-family: "Public Sans", "Bahnschrift", sans-serif !important;
}